:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --second-text-color: #ffffff;
    --accent-color: #2196F3;
    --bcg-color: #FFFFFF;
    --bcgsecond-color: #F5F4FA;
    --bcgthird: #2F303A;
    --icon-color: #AFB1B8;
    --btn-bg-coor: #188CE8;
}
